.yoann-v-2 .group-9555 {
  position: absolute;
  left: 50%;
  top: 60px;
  translate: -50% 0;
  width: 2150.8px;
  height: 1058.3px;
}
.yoann-v-2 .smmam-0111 {
  background: url('../assets/images/smmam_0111.png') 50% / cover no-repeat;
  width: 106px;
  height: 60px;
}
.yoann-v-2 .pour-lestudiants-employs-et-entrepreneurs-qui-souhaitent-faire-dcoller-leur-business {
  margin-right: 8.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 21px;
  line-height: 2.19;
  color: #FFFFFF;
}
.yoann-v-2 .roquet-1 {
  background: url('../assets/images/roquet_1.png') 50% / cover no-repeat;
  margin: 4px 0;
  width: 38px;
  height: 38px;
}
.yoann-v-2 .container-2 {
  margin: 7px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.yoann-v-2 .container-14 {
  background: #000000;
  position: relative;
  margin-bottom: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 10px 37px;
  width: 1440px;
  box-sizing: border-box;
}
.confrence-100-gratuite-en-live-ce-dimanche-xx-marsh-fr-sub1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #0D83F2;
}
.yoann-v-2 .confrence-100-gratuite-en-live-ce-dimanche-xx-marsh-fr {
  margin: 0 0 92px 2.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.625;
  text-transform: uppercase;
  color: #000000;
}
.confrence-100-gratuite-en-live-ce-dimanche-xx-marsh-fr-sub2 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #0D87F9;
}
.yoann-v-2 .yoann {
  margin: 0 171.9px 378px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 501px;
  letter-spacing: -15px;
  line-height: 0.112;
  color: #F5F5F5;
}
.yoann-v-2 .vector-5 {
  background: #F5F5F5;
  margin: 5.5px 71.5px 7.5px 0;
  width: 2px;
  height: 645px;
}
.yoann-v-2 .le-systme-smma-indispensable-pour-russir-dvelopper-une-activit-en-ligne-pour-gnrer-plus-de-10000-par-mois-en-2023 {
  margin: 0 31.3px 50px 1px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.625;
  color: #000000;
}
.le-systme-smma-indispensable-pour-russir-dvelopper-une-activit-en-ligne-pour-gnrer-plus-de-10000-par-mois-en-2023-sub1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #0D83F2;
}
.le-systme-smma-indispensable-pour-russir-dvelopper-une-activit-en-ligne-pour-gnrer-plus-de-10000-par-mois-en-2023 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #0D83F2;
}
.yoann-v-2 .ne-manque-pas-cette-occasion-unique-de-dcouvrir-le-systme-smma-qui-apermis-1046-personnes-de-vivre-leur-vie-de-rve {
  margin: 0 17.7px 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #FFFFFF;
}
.yoann-v-2 .inscris-toi-et-rserve-ta-place-ds-maintenant-pour-participer-notre-confrence-gratuitement {
  margin: 0 7.9px 12px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  color: #FFFFFF;
}
.yoann-v-2 .votre-prnom {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14.1px;
  line-height: 2.624;
  color: #B1B1B1;
}
.yoann-v-2 .container-37 {
  border-radius: 7.2px;
  background: #F6F6F6;
  position: relative;
  margin-bottom: 11px;
  padding: 8px 11px 10px 11px;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .votre-adresse-email {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 15px;
  line-height: 2.499;
  color: #B1B1B1;
}
.yoann-v-2 .container-36 {
  border-radius: 7.2px;
  background: #F6F6F6;
  position: relative;
  margin-bottom: 63px;
  padding: 8px 11px 10px 11px;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .le-nombre-de-places-seratrs-limit-prends-ta-place-avant-que-quelquun-dautre-ne-te-la-pique-1 {
  margin: 0 28.8px 0 23px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  line-height: 3;
  color: #FFFFFF;
}
.yoann-v-2 .container-16 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoann-v-2 .je-rserve-ma-place-dsmaintenat-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann-v-2 .container-26 {
  border-radius: 7.2px;
  background: #F6CF00;
  position: absolute;
  left: 27px;
  bottom: 33px;
  display: flex;
  padding: 11px 1px 13px 0;
  width: 447px;
  box-sizing: border-box;
}
.yoann-v-2 .group-9554 {
  border-radius: 20px;
  background: #0D83F2;
  position: relative;
  display: flex;
  padding: 28px 37px 12px 27px;
  box-sizing: border-box;
}
.yoann-v-2 .container-20 {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoann-v-2 .container-24 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .dbut-de-la-confrence-dans {
  margin-right: 755px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 11px;
  line-height: 2.182;
  color: #000000;
}
.yoann-v-2 .container-1 {
  box-shadow: 0px 4px 30px 0px rgba(10, 10, 10, 0.16);
  border-radius: 67px;
  border: 1px solid #CACBCD;
  background: #FCFCFC;
  position: relative;
  margin: 0 130px 0 133px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 6px 102px 18px 0;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoann-v-2 .yoan-31 {
  background: url('../assets/images/yoan_31.png') 50% / cover no-repeat;
  position: absolute;
  left: 498px;
  top: 187px;
  width: 398px;
  height: 726px;
}
.yoann-v-2 .container-1 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 0.48;
  color: #FFFFFF;
}
.yoann-v-2 .jours {
  margin-right: 5px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.846;
  color: #FFFFFF;
}
.yoann-v-2 .container-19 {
  border-radius: 21px;
  background: #000000;
  position: absolute;
  left: 557px;
  bottom: 188.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15.3px;
  width: 87px;
  height: 84px;
  box-sizing: border-box;
}
.yoann-v-2 .container-2 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 0.48;
  color: #FFFFFF;
}
.yoann-v-2 .heures {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.846;
  color: #FFFFFF;
}
.yoann-v-2 .container-25 {
  border-radius: 21px;
  background: #000000;
  position: absolute;
  left: 652px;
  bottom: 188.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 18.2px;
  height: 84px;
  box-sizing: border-box;
}
.yoann-v-2 .container-3 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 0.48;
  color: #FFFFFF;
}
.yoann-v-2 .minutes {
  margin: 0 8.9px 0 7.9px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.846;
  color: #FFFFFF;
}
.yoann-v-2 .container-13 {
  border-radius: 21px;
  background: #000000;
  position: absolute;
  left: 747px;
  bottom: 188.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10.3px;
  height: 84px;
  box-sizing: border-box;
}
.yoann-v-2 .header {
  position: relative;
  margin-bottom: 970.7px;
  display: flex;
  padding-right: 66.8px;
  width: 2150.8px;
  height: 1118.3px;
  box-sizing: border-box;
}
.yoann-v-2 .smma {
  border: 0.5px solid #B5B5B5;
  margin-bottom: 79px;
  display: inline-block;
  overflow-wrap: break-word;
}
.yoann-v-2 .smma-1 {
  border: 0.5px solid #0D83F2;
  margin-bottom: 79px;
  display: inline-block;
  overflow-wrap: break-word;
}
.yoann-v-2 .smma-2 {
  border: 0.5px solid #B5B5B5;
  margin-bottom: 86px;
  display: inline-block;
  overflow-wrap: break-word;
}
.yoann-v-2 .smma-3 {
  border: 0.5px solid #B5B5B5;
  overflow-wrap: break-word;
}
.yoann-v-2 .group-9558 {
  margin-right: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoann-v-2 .ces-rsultats-peuvent-aussi-tre-les-votres {
  margin: 0 4px 31px 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #0D83F2;
}
.yoann-v-2 .avec-smma-movement-vous-ferez-partie-duncosystme-qui-vous-tirera-vers-la-russite {
  margin: 0 0 48px 4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  line-height: 1.308;
  color: #000000;
}
.avec-smma-movement-vous-ferez-partie-duncosystme-qui-vous-tirera-vers-la-russite-sub2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.333;
}
.yoann-v-2 .rejoindre-le-mouvement {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 29px;
  line-height: 1.207;
  color: #FFFFFF;
}
.yoann-v-2 .container-35 {
  border-radius: 9px;
  background: #F6CF00;
  position: relative;
  display: flex;
  align-self: flex-start;
  padding: 27px 16px 27px 20px;
  box-sizing: border-box;
}
.yoann-v-2 .container-12 {
  margin: 20px 0 9px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoann-v-2 .container-3 {
  background: #F5F5F5;
  position: relative;
  margin: 0 66.8px 132px 0;
  display: flex;
  flex-direction: row;
  padding: 132px 0 97px 106px;
  width: 1440px;
  box-sizing: border-box;
}
.yoann-v-2 .rectangle-66 {
  background: #F5F5F5;
  position: absolute;
  top: 4px;
  right: 41px;
  width: 475px;
  height: 671px;
}
.yoann-v-2 .yoann-mascaro {
  margin: 0 41.9px 54px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #000000;
}
.yoann-v-2 .rectangle-11 {
  background: #0D83F2;
  margin-bottom: 13px;
  align-self: flex-start;
  width: 277px;
  height: 7px;
}
.yoann-v-2 .en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement {
  margin-bottom: 5px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.263;
  text-transform: lowercase;
  color: #2B2B2B;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub6 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub9 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.yoann-v-2 .aujourdhui-jai-gnr-plus-dun-million-deuros-de-bnfices-voyag-dans-plus-de-40-pays-et-ai-eu-loccasion-de-travailler-avec-les-plus-grandes-entreprises-et-startups-du-monde-entier-jai-mis-aujourdhui-toutes-mes-connaissances-mthodes-techniques-dans-un-programme-entier-et-duplicable-qui-apermis-des-milliers-dentrepreneurs-de-changer-leur-vie-grce-au-smma {
  margin: 0 6.6px 28px 0;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.263;
  text-transform: lowercase;
  color: #2B2B2B;
}
.aujourdhui-jai-gnr-plus-dun-million-deuros-de-bnfices-voyag-dans-plus-de-40-pays-et-ai-eu-loccasion-de-travailler-avec-les-plus-grandes-entreprises-et-startups-du-monde-entier-jai-mis-aujourdhui-toutes-mes-connaissances-mthodes-techniques-dans-un-programme-entier-et-duplicable-qui-apermis-des-milliers-dentrepreneurs-de-changer-leur-vie-grce-au-smma-sub2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.yoann-v-2 .seul-votre-passage-laction-est-le-dterminant-de-votre-russite {
  margin-right: 12.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #0D83F2;
}
.yoann-v-2 .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoann-v-2 .votre-mentor {
  position: absolute;
  left: 0px;
  top: 46px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
}
.yoann-v-2 .container-17 {
  position: relative;
  margin: 0 23.7px 2px 0;
  display: flex;
  box-sizing: border-box;
}
.yoann-v-2 .yoann-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 361px;
  letter-spacing: -10.8px;
  line-height: 0.155;
  color: #0D87F9;
}
.yoann-v-2 .mascaro {
  border: 0.5px solid #000000;
  transform: rotate(-31.946deg);
  position: absolute;
  right: 14.3px;
  bottom: 135px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Sigustil', 'Roboto Condensed';
  font-weight: 400;
  font-size: 140px;
  line-height: 0.4;
  color: #000000;
}
.yoann-v-2 .group-9559 {
  background: url('../assets/images/dsc_10121.png') 50% / cover no-repeat;
  position: relative;
  margin-top: 40px;
  display: flex;
  padding: 446px 0 132px 20px;
  width: 720px;
  height: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.yoann-v-2 .yoann-mascaro-1 {
  position: absolute;
  left: 411px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Sigustil', 'Roboto Condensed';
  font-weight: 400;
  font-size: 31px;
  line-height: 1.806;
  color: #000000;
}
.yoann-v-2 .yoann-1 {
  position: relative;
  margin: 0 0.8px 61px 0;
  display: flex;
  padding-bottom: 11px;
  box-sizing: border-box;
}
.yoann-v-2 .bonus {
  border: 1px solid rgba(255, 250, 250, 0.22);
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
}
.yoann-v-2 .uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence {
  margin: 0 19.5px 33px 0;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.308;
  color: #FFFFFF;
}
.uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence-sub40 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.333;
}
.uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence-sub39 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.333;
  color: #F6CE00;
}
.uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.333;
}
.yoann-v-2 .ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.882;
  color: #FFFFFF;
}
.ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier-sub98 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.333;
  color: #FFFFFF;
}
.ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier-sub97 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.333;
  color: #FFFFFF;
}
.yoann-v-2 .container-31 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoann-v-2 .crois-moi-tu-ne-voudrais-pas-ratera {
  position: absolute;
  left: 1px;
  top: 122px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.308;
  color: #F6CE00;
}
.yoann-v-2 .container-32 {
  position: relative;
  margin: 98px 134.5px 5px 0;
  display: flex;
  box-sizing: border-box;
}
.yoann-v-2 .ellipse-268 {
  border-radius: 202px;
  background: #FFFFFF;
  position: relative;
  width: 404px;
  height: 404px;
}
.yoann-v-2 .container-29 {
  margin: 0 30px 33px 46px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .cest-maintenant {
  margin: 7px 17px 14px 0;
  display: inline-block;
  width: 751px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 49px;
  line-height: 0.694;
  color: #F6CE00;
}
.yoann-v-2 .je-rserve-ma-place-dsmaintenat-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann-v-2 .container-4 {
  border-radius: 7.2px;
  background: #F6CF00;
  position: relative;
  display: flex;
  padding: 11px 1px 13px 0;
  width: 447px;
  box-sizing: border-box;
}
.yoann-v-2 .container-33 {
  margin-left: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1215px;
  box-sizing: border-box;
}
.yoann-v-2 .le-nombre-de-places-seratrs-limit-prends-ta-place-avant-que-quelquun-dautre-ne-te-la-pique {
  margin: 0 25.8px;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  line-height: 3;
  color: #FFFFFF;
}
.yoann-v-2 .container-34 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoann-v-2 .bonus-1 {
  position: absolute;
  left: 134px;
  top: 74px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 96px;
  line-height: 0.406;
  color: #FFFFFF;
}
.yoann-v-2 .box-v-49-recupere-1 {
  background: url('../assets/images/box_v_49_recupere_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 46px;
  right: 183.4px;
  width: 300.6px;
  height: 450px;
}
.yoann-v-2 .sec-bonus {
  background: #0D83F2;
  position: relative;
  margin-right: 75.8px;
  display: flex;
  padding: 44px 92px 13px 96px;
  box-sizing: border-box;
}
.yoann-v-2 .lorem-ipsum-dolor-sit-amet-consectetur {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann-v-2 .footer {
  background: #000000;
  position: relative;
  margin-right: 52.8px;
  display: flex;
  padding: 418px 12px 64px 0;
  width: 1454px;
  box-sizing: border-box;
}
.yoann-v-2 .container-27 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2150.8px;
  height: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .euros-gnrs-par-leslves {
  margin: 1px 21px 21px 0;
  display: inline-block;
  width: 287.2px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.105;
  color: #FFFFFF;
}
.yoann-v-2 .deslves-obtiennent-des-rsultats-en-moins-de-3-mois {
  margin-top: 1px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.105;
  color: #FFFFFF;
}
.yoann-v-2 .quipe-ddie-et-mentorat-individualis {
  margin-bottom: 22px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.105;
  color: #FFFFFF;
}
.yoann-v-2 .satisfait-ou-100-rembours {
  margin-bottom: 22px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.105;
  color: #FFFFFF;
}
.yoann-v-2 .partenaires {
  background: #0F0F0F;
  position: absolute;
  left: -8px;
  top: 1021px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 149px 128.1px 82px 0;
  width: 1448px;
  height: 295px;
  box-sizing: border-box;
}
.yoann-v-2 .lors-de-cette-prsentation-tu-vas-dcouvrir {
  margin: 0 0 39px 13px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 44px;
  line-height: 1.136;
  text-transform: uppercase;
  color: #FFFFFF;
}
.yoann-v-2 .one-1 {
  background: url('../assets/images/one_1.png') 50% / cover no-repeat;
  width: 40px;
  height: 40px;
}
.yoann-v-2 .container-23 {
  border-radius: 33px;
  background: #0D87F9;
  position: relative;
  margin-right: 27px;
  display: flex;
  padding: 12px 13px 14px 13px;
  width: 66px;
  height: 66px;
  box-sizing: border-box;
}
.yoann-v-2 .comment-devenir-une-rfrence-dans-ton-domaine-devenir-le-n-1-de-ton-march-et-connatre-le-succs-que-tu-mritesil-te-suffira-de-suivre-mon-plan-daction {
  margin: 5px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #1E1E1E;
}
.yoann-v-2 .container-5 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 8px 21px;
  display: flex;
  flex-direction: row;
  padding: 14px 0 13px 20px;
  width: 976px;
  box-sizing: border-box;
}
.yoann-v-2 .stats-1 {
  background: url('../assets/images/stats_1.png') 50% / cover no-repeat;
  width: 42px;
  height: 42px;
}
.yoann-v-2 .container-11 {
  border-radius: 33px;
  background: #0D87F9;
  position: relative;
  margin-right: 27px;
  display: flex;
  padding: 10px 12px 14px 12px;
  width: 66px;
  height: 66px;
  box-sizing: border-box;
}
.yoann-v-2 .tout-ce-dont-tu-as-besoin-pour-lancer-ton-agence-smma-acqurir-tes-premiers-clients-et-encaisser-de-gros-contrats-rapidement {
  margin: 5px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #1E1E1E;
}
.yoann-v-2 .container-10 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 9px 21px;
  display: flex;
  flex-direction: row;
  padding: 14px 61.8px 13px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .career-1 {
  background: url('../assets/images/career_1.png') 50% / cover no-repeat;
  width: 40px;
  height: 40px;
}
.yoann-v-2 .container-8 {
  border-radius: 33px;
  background: #0D87F9;
  position: relative;
  margin-right: 27px;
  display: flex;
  padding: 12px 12px 14px 14px;
  width: 66px;
  height: 66px;
  box-sizing: border-box;
}
.yoann-v-2 .tout-ce-dont-tu-as-besoin-pour-lancer-ton-agence-smma-acqurir-tes-premiers-clients-et-encaisser-de-gros-contrats-rapidement-1 {
  margin: 8px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #1E1E1E;
}
.yoann-v-2 .container-7 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 8px 21px;
  display: flex;
  flex-direction: row;
  padding: 14px 61.8px 13px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .artificial-intelligence-1 {
  background: url('../assets/images/artificial_intelligence_1.png') 50% / cover no-repeat;
  width: 46px;
  height: 46px;
}
.yoann-v-2 .container-22 {
  border-radius: 33px;
  background: #0D87F9;
  position: relative;
  margin: 7px 27px 8px 0;
  display: flex;
  padding: 10px 9px 10px 11px;
  width: 66px;
  height: 66px;
  box-sizing: border-box;
}
.yoann-v-2 .lunique-mthode-pour-devenir-lentrepreneur-succs-que-tu-souhaites-devenir-et-enfin-goter-la-libert-voyager-toute-lanne-et-surtout-avoir-plus-de-temps-pour-toiet-pour-tes-proches {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #1E1E1E;
}
.yoann-v-2 .container-18 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 8px 21px;
  display: flex;
  flex-direction: row;
  padding: 7px 49.3px 5px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .profit-1 {
  background: url('../assets/images/profit_1.png') 50% / cover no-repeat;
  width: 48px;
  height: 48px;
}
.yoann-v-2 .container-21 {
  border-radius: 33px;
  background: #0D87F9;
  position: relative;
  margin: 4px 27px 11px 0;
  display: flex;
  padding: 11px 8px 7px 10px;
  width: 66px;
  height: 66px;
  box-sizing: border-box;
}
.yoann-v-2 .comment-implmenter-les-stratgies-dautomatisation-et-lia-dans-ton-business-vont-te-permettre-dexploser-tes-rsultats-et-de-gagner-beaucoup-plusfini-les-pertes-de-temps-et-dnergie {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #1E1E1E;
}
.yoann-v-2 .container-30 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 44px 21px;
  display: flex;
  flex-direction: row;
  padding: 10px 60.1px 2px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.yoann-v-2 .smma-movement {
  border: 1px solid rgba(255, 255, 255, 0.19);
  overflow-wrap: break-word;
}
.yoann-v-2 .container-28 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoann-v-2 .ellipse-261 {
  border-radius: 43px;
  background: #0D87F9;
  position: absolute;
  top: 272px;
  right: 312px;
  width: 86px;
  height: 86px;
}
.yoann-v-2 .plus-de-xplaces-disponibles {
  position: absolute;
  left: 654px;
  bottom: 36px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  line-height: 3;
  color: #FFFFFF;
}
.yoann-v-2 .je-rserve-ma-place-dsmaintenat {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann-v-2 .container-9 {
  border-radius: 7.2px;
  background: #F6CF00;
  position: absolute;
  right: 494px;
  bottom: 57px;
  display: flex;
  padding: 11px 0 13px 1px;
  width: 447px;
  box-sizing: border-box;
}
.yoann-v-2 .sec-2 {
  background: #0D87F9;
  position: absolute;
  left: 50%;
  top: 1314px;
  translate: -50% 0;
  display: flex;
  padding: 16px 97.3px 22px 76.3px;
  box-sizing: border-box;
}
.yoann-v-2 .smmam-02-blanc-transparent-1 {
  background: url('../assets/images/smmam_02_blanc_transparent_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 148px;
  translate: -50% 0;
  width: 544px;
  height: 384px;
}
.yoann-v-2 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur {
  position: absolute;
  left: 50%;
  bottom: 104px;
  translate: -50% 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann-v-2 .phone-long-scroll-mockup-v-011 {
  background: url('../assets/images/phone_long_scroll_mockup_v_011.png') 50% / cover no-repeat;
  position: relative;
  width: 528px;
  height: 666px;
}
.yoann-v-2 .container {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  transform: rotate(8.216deg);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 284.2px;
  height: 424.3px;
}
.yoann-v-2 .group-9556 {
  position: absolute;
  left: 91px;
  bottom: 1856px;
  display: flex;
  padding: 65px 20.2px 0 0;
  width: 548.2px;
  height: 731px;
  box-sizing: border-box;
}
.yoann-v-2 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
