.yoann .rectangle-61 {
  background: #F5F5F5;
  position: relative;
  width: 1440px;
  height: 941px;
}
.yoann .container-21 {
  position: absolute;
  left: 0px;
  top: 76px;
  width: 668px;
  height: 413px;
}
.yoann .container-6 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 673.6px;
  height: 642.8px;
}
.yoann .yoann-2 {
  margin: 0 171.9px 378px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 501px;
  letter-spacing: -15px;
  line-height: 0.112;
  color: #F5F5F5;
}
.yoann .vector-5 {
  background: #F5F5F5;
  margin: 5.5px 71.5px 7.5px 0;
  width: 2px;
  height: 645px;
}
.yoann .le-systme-smma-indispensable-pour-russir-dvelopper-une-activit-en-ligne-pour-gnrer-plus-de-10000-par-mois-en-2023 {
  margin: 0 31.3px 50px 1px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.625;
  color: #000000;
}
.le-systme-smma-indispensable-pour-russir-dvelopper-une-activit-en-ligne-pour-gnrer-plus-de-10000-par-mois-en-2023-sub1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #0D83F2;
}
.le-systme-smma-indispensable-pour-russir-dvelopper-une-activit-en-ligne-pour-gnrer-plus-de-10000-par-mois-en-2023 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #0D83F2;
}
.yoann .rectangle-8 {
  border-radius: 7.2px;
  background: #F6F6F6;
  position: absolute;
  left: 27px;
  bottom: 165px;
  width: 447px;
  height: 55px;
}
.yoann .rectangle-56 {
  border-radius: 7.2px;
  background: #F6F6F6;
  position: absolute;
  left: 27px;
  bottom: 99px;
  width: 447px;
  height: 55px;
}
.yoann .ne-manque-pas-cette-occasion-unique-de-dcouvrir-le-systme-smma-qui-apermis-1046-personnes-de-vivre-leur-vie-de-rve {
  margin: 0 9.9px 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #FFFFFF;
}
.yoann .inscris-toi-et-rserve-ta-place-ds-maintenant-pour-participer-notre-confrence-gratuitement {
  margin: 0 0 20px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  color: #FFFFFF;
}
.yoann .votre-prnom {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14.1px;
  line-height: 2.624;
  color: #B1B1B1;
}
.yoann .votre-adresse-email {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 15px;
  line-height: 2.499;
  color: #B1B1B1;
}
.yoann .container-14 {
  position: relative;
  margin: 0 11px 73px 11px;
  align-self: flex-start;
  width: fit-content;
  height: 103px;
  box-sizing: border-box;
}
.yoann .le-nombre-de-places-seratrs-limit-prends-ta-place-avant-que-quelquun-dautre-ne-te-la-pique {
  margin: 0 20.9px 0 23px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 8px;
  line-height: 3;
  color: #FFFFFF;
}
.yoann .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoann .je-rserve-ma-place-dsmaintenat {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann .container-12 {
  border-radius: 7.2px;
  background: #F6CF00;
  position: absolute;
  left: 27px;
  bottom: 33px;
  display: flex;
  padding: 11px 1px 13px 0;
  width: 447px;
  box-sizing: border-box;
}
.yoann .group-9554 {
  border-radius: 20px;
  background: #0D83F2;
  position: relative;
  padding: 28px 44.9px 12px 27px;
  box-sizing: border-box;
}
.yoann .container-26 {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  width: 511px;
  box-sizing: border-box;
}
.yoann .container-19 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.yoann .dbut-de-la-confrence-dans {
  margin-right: 755px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 11px;
  line-height: 2.182;
  color: #000000;
}
.yoann .container-28 {
  box-shadow: 0px 4px 30px 0px rgba(10, 10, 10, 0.16);
  border-radius: 67px;
  border: 1px solid #CACBCD;
  background: #FCFCFC;
  position: absolute;
  left: 132px;
  bottom: 101.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 6px 102px 18px 0;
  width: 1177px;
  box-sizing: border-box;
}
.yoann .smmam-0111 {
  background: url('../assets/images/smmam_0111.png') 50% / cover no-repeat;
  width: 106px;
  height: 60px;
}
.yoann .pour-lestudiants-employs-et-entrepreneurs-qui-souhaitent-faire-dcoller-leur-business {
  margin: 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 21px;
  line-height: 2.19;
  color: #FFFFFF;
}
.yoann .container-8 {
  background: #000000;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 48.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 10px 36px;
  box-sizing: border-box;
}
.yoann .confrence-100-gratuite-en-live-ce-dimanche-xx-marsh-fr {
  position: absolute;
  left: 281px;
  top: 135px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.625;
  text-transform: uppercase;
  color: #000000;
}
.confrence-100-gratuite-en-live-ce-dimanche-xx-marsh-fr-sub1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #0D83F2;
}
.yoann .yoan-31 {
  background: url('../assets/images/yoan_31.png') 50% / cover no-repeat;
  position: absolute;
  left: 175px;
  bottom: 160.8px;
  width: 398px;
  height: 726px;
}
.yoann .container {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 0.48;
  color: #FFFFFF;
}
.yoann .jours {
  margin-right: 5px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.846;
  color: #FFFFFF;
}
.yoann .container-31 {
  border-radius: 21px;
  background: #000000;
  position: absolute;
  left: 234px;
  bottom: 143.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15.3px;
  width: 87px;
  height: 84px;
  box-sizing: border-box;
}
.yoann .container-1 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 0.48;
  color: #FFFFFF;
}
.yoann .heures {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.846;
  color: #FFFFFF;
}
.yoann .container-4 {
  border-radius: 21px;
  background: #000000;
  position: absolute;
  left: 329px;
  bottom: 143.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 18.2px;
  height: 84px;
  box-sizing: border-box;
}
.yoann .container-2 {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 0.48;
  color: #FFFFFF;
}
.yoann .minutes {
  margin: 0 8.9px 0 7.9px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 13px;
  line-height: 1.846;
  color: #FFFFFF;
}
.yoann .container-17 {
  border-radius: 21px;
  background: #000000;
  position: absolute;
  left: 424px;
  bottom: 143.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10.3px;
  height: 84px;
  box-sizing: border-box;
}
.yoann .header {
  position: relative;
  margin-bottom: 1065.2px;
  display: flex;
  padding: 80px 48.6px 52.8px 0;
  width: 1488.6px;
  height: 1073.8px;
  box-sizing: border-box;
}
.yoann .rectangle-66 {
  background: #F5F5F5;
  position: absolute;
  top: 4px;
  right: 41px;
  width: 475px;
  height: 671px;
}
.yoann .yoann-mascaro {
  margin: 0 41.9px 54px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #000000;
}
.yoann .rectangle-11 {
  background: #0D83F2;
  margin-bottom: 13px;
  align-self: flex-start;
  width: 277px;
  height: 7px;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub9 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.yoann .en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement {
  margin-bottom: 5px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.263;
  text-transform: lowercase;
  color: #2B2B2B;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub6 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.yoann .aujourdhui-jai-gnr-plus-dun-million-deuros-de-bnfices-voyag-dans-plus-de-40-pays-et-ai-eu-loccasion-de-travailler-avec-les-plus-grandes-entreprises-et-startups-du-monde-entier-jai-mis-aujourdhui-toutes-mes-connaissances-mthodes-techniques-dans-un-programme-entier-et-duplicable-qui-apermis-des-milliers-dentrepreneurs-de-changer-leur-vie-grce-au-smma {
  margin: 0 6.6px 28px 0;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.263;
  text-transform: lowercase;
  color: #2B2B2B;
}
.aujourdhui-jai-gnr-plus-dun-million-deuros-de-bnfices-voyag-dans-plus-de-40-pays-et-ai-eu-loccasion-de-travailler-avec-les-plus-grandes-entreprises-et-startups-du-monde-entier-jai-mis-aujourdhui-toutes-mes-connaissances-mthodes-techniques-dans-un-programme-entier-et-duplicable-qui-apermis-des-milliers-dentrepreneurs-de-changer-leur-vie-grce-au-smma-sub2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.yoann .seul-votre-passage-laction-est-le-dterminant-de-votre-russite {
  margin-right: 12.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #0D83F2;
}
.yoann .container-25 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoann .votre-mentor {
  position: absolute;
  left: 0px;
  top: 46px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
}
.yoann .container-24 {
  position: relative;
  margin: 0 23.7px 3px 0;
  display: flex;
  box-sizing: border-box;
}
.yoann .yoann-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 361px;
  letter-spacing: -10.8px;
  line-height: 0.155;
  color: #0D87F9;
}
.yoann .mascaro {
  border: 0.5px solid #000000;
  transform: rotate(-31.946deg);
  position: absolute;
  right: 14.3px;
  bottom: 136px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Sigustil', 'Roboto Condensed';
  font-weight: 400;
  font-size: 140px;
  line-height: 0.4;
  color: #000000;
}
.yoann .container-13 {
  background: url('../assets/images/dsc_10121.png') 50% / cover no-repeat;
  position: relative;
  margin-top: 41px;
  display: flex;
  padding: 445px 0 133px 20px;
  width: 720px;
  height: fit-content;
  box-sizing: border-box;
}
.yoann .container-22 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.yoann .yoann-mascaro-1 {
  position: absolute;
  left: 411px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Sigustil', 'Roboto Condensed';
  font-weight: 400;
  font-size: 31px;
  line-height: 1.806;
  color: #000000;
}
.yoann .yoann-3 {
  position: relative;
  margin: 0 91.6px 0 103px;
  display: flex;
  padding-bottom: 66px;
  box-sizing: border-box;
}
.yoann .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1488.6px;
  height: fit-content;
  box-sizing: border-box;
}
.yoann .partenaires-1 {
  opacity: 0.08;
  border: 1px solid #FFFFFF;
  position: relative;
  overflow-wrap: break-word;
}
.yoann .ellipse-257 {
  border-radius: 9px;
  background: #FFFFFF;
  width: 18px;
  height: 18px;
}
.yoann .ellipse-258 {
  border-radius: 9px;
  background: #FFFFFF;
  width: 18px;
  height: 18px;
}
.yoann .ellipse-259 {
  border-radius: 9px;
  background: #FFFFFF;
  width: 18px;
  height: 18px;
}
.yoann .group-9552 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 102px;
  box-sizing: border-box;
}
.yoann .porctime {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 40px;
  line-height: 0.7;
  color: #FFFFFF;
}
.porctime {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.333;
  color: #FFFFFF;
}
.yoann .group-9553 {
  position: absolute;
  left: 100.1px;
  bottom: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoann .tre-king {
  position: absolute;
  left: 428px;
  bottom: 123px;
  overflow-wrap: break-word;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 40px;
  line-height: 0.7;
  color: #FFFFFF;
}
.yoann .hdk {
  position: absolute;
  right: 662.2px;
  bottom: 109px;
  overflow-wrap: break-word;
  font-family: 'Vampiro One';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.167;
  color: #046DCF;
}
.yoann .laces {
  position: absolute;
  right: 384.4px;
  bottom: 109px;
  overflow-wrap: break-word;
  font-family: 'Vampiro One';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.167;
  color: #FFFFFF;
}
.yoann .kraken {
  position: absolute;
  right: 97.3px;
  bottom: 123px;
  overflow-wrap: break-word;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 48px;
  line-height: 0.583;
  color: #FFFFFF;
}
.yoann .partenaires {
  background: #0F0F0F;
  position: absolute;
  left: -8px;
  top: 1021px;
  display: flex;
  padding: 130px 85.5px 109px 72.5px;
  height: 295px;
  box-sizing: border-box;
}
.yoann .lors-de-cette-prsentation-tu-vas-dcouvrir {
  margin: 0 0 69px 11px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 44px;
  line-height: 1.136;
  text-transform: uppercase;
  color: #FFFFFF;
}
.yoann .comment-devenir-une-rfrence-dans-ton-domaine-devenir-le-n-1-de-ton-march-et-connatre-le-succs-que-tu-mritesil-te-suffira-de-suivre-mon-plan-daction {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #1E1E1E;
}
.yoann .container-20 {
  background: #FFFFFF;
  position: relative;
  margin: 108px 0 30px 0;
  display: flex;
  padding: 77px 20.1px 25px 20.1px;
  box-sizing: border-box;
}
.yoann .stats-1 {
  background: url('../assets/images/stats_1.png') 50% / cover no-repeat;
  width: 56px;
  height: 56px;
}
.yoann .container-10 {
  border-radius: 49px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 33px;
  display: flex;
  padding: 15px 0 27px 0;
  width: 98px;
  height: 98px;
  box-sizing: border-box;
}
.yoann .comment-faire-dcoller-ton-business-afin-dobtenir-la-vie-dont-tu-rvescelle-otu-es-libre-otu-voyages-et-otu-as-un-business-stable {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 21px;
  line-height: 1.714;
  color: #FFFFFF;
}
.yoann .container-15 {
  border: 1px solid #FFFFFF;
  background: #087EEE;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 61px 0;
  width: 380px;
  box-sizing: border-box;
}
.yoann .tout-ce-dont-tu-as-besoin-pour-lancer-ton-agence-smma-acqurir-tes-premiers-clients-et-encaisser-de-gros-contrats-rapidement {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #1E1E1E;
}
.yoann .container-23 {
  background: #FFFFFF;
  position: relative;
  margin: 108px 0 30px 0;
  display: flex;
  padding: 81px 23.5px 48px 23.5px;
  box-sizing: border-box;
}
.yoann .container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  box-sizing: border-box;
}
.yoann .profit-1 {
  background: url('../assets/images/profit_1.png') 50% / cover no-repeat;
  width: 54px;
  height: 54px;
}
.yoann .container-30 {
  border-radius: 43px;
  background: #0D87F9;
  position: absolute;
  top: 62px;
  right: 124px;
  display: flex;
  padding: 4px 16px 0 16px;
  width: 86px;
  height: 86px;
  box-sizing: border-box;
}
.yoann .one-1 {
  background: url('../assets/images/one_1.png') 50% / cover no-repeat;
  width: 54px;
  height: 54px;
}
.yoann .container-27 {
  border-radius: 43px;
  background: #0D87F9;
  position: absolute;
  left: 119px;
  top: 62px;
  display: flex;
  padding: 12px 16px 20px 16px;
  width: 86px;
  height: 86px;
  box-sizing: border-box;
}
.yoann .container-2 {
  position: relative;
  margin: 0 0 11px 21px;
  display: flex;
  box-sizing: border-box;
}
.yoann .ellipse-263 {
  border-radius: 5px;
  background: #FFFFFF;
  margin-right: 2px;
  width: 10px;
  height: 10px;
}
.yoann .ellipse-264 {
  border-radius: 5px;
  background: #FFFFFF;
  margin-right: 2px;
  width: 10px;
  height: 10px;
}
.yoann .ellipse-265 {
  border-radius: 5px;
  background: #FFFFFF;
  margin-right: 2px;
  width: 10px;
  height: 10px;
}
.yoann .ellipse-266 {
  border-radius: 5px;
  background: #FFFFFF;
  margin-right: 1px;
  width: 10px;
  height: 10px;
}
.yoann .ellipse-267 {
  border-radius: 5px;
  background: #FFFFFF;
  width: 10px;
  height: 10px;
}
.yoann .container-16 {
  margin: 0 0 29px 30px;
  display: flex;
  flex-direction: row;
  width: 57px;
  box-sizing: border-box;
}
.yoann .smma-movement {
  border: 1px solid rgba(255, 255, 255, 0.19);
  overflow-wrap: break-word;
}
.yoann .sec-2 {
  background: #0D87F9;
  position: absolute;
  left: 0px;
  top: 1314px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 97.3px 21px 76.3px;
  box-sizing: border-box;
}
.yoann .bonus {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
}
.yoann .uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence {
  margin: 0 19.5px 33px 0;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.308;
  color: #000000;
}
.uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence-sub40 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.333;
}
.uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence-sub39 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.333;
  color: #0D83F2;
}
.uniquement-pour-ce-dimanche-xx-mars-je-te-prparegalement-une-grosse-surprise-la-fin-de-cette-confrence {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.333;
}
.yoann .ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier {
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.882;
  color: #000000;
}
.ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier-sub48 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.333;
}
.ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier-sub47 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.333;
}
.ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier-sub46 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 17px;
  line-height: 1.333;
}
.ds-la-fin-de-ton-inscription-tu-recevras-un-accs-automatique-3-cadeaux-100-offerts-qui-texpliqueront-comment-jai-pu-gnrer-plus-de-1-million-de-bnfices-voyag-dans-plus-de-40-pays-et-travaill-avec-les-plus-grandes-entreprises-start-up-du-monde-entier {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.333;
}
.yoann .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoann .crois-moi-tu-ne-voudrais-pas-ratera {
  position: absolute;
  left: 1px;
  bottom: 109px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  line-height: 1.308;
  color: #0D83F2;
}
.yoann .container-11 {
  position: relative;
  margin: 98px 134.5px 41px 0;
  display: flex;
  box-sizing: border-box;
}
.yoann .ellipse-268 {
  border-radius: 202px;
  background: #FFFFFF;
  position: relative;
  width: 404px;
  height: 404px;
}
.yoann .container-9 {
  margin: 0 30px 33px 46px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.yoann .cest-maintenant {
  margin: 7px 17px 14px 0;
  display: inline-block;
  width: 751px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 49px;
  line-height: 0.694;
  color: #0D83F2;
}
.yoann .je-rserve-ma-place-dsmaintenat-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann .container-18 {
  border-radius: 7.2px;
  background: #F6CF00;
  position: relative;
  display: flex;
  padding: 11px 1px 13px 0;
  width: 447px;
  box-sizing: border-box;
}
.yoann .container-1 {
  margin-left: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1215px;
  box-sizing: border-box;
}
.yoann .container-32 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoann .bonus-1 {
  position: absolute;
  left: 134px;
  top: 74px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 96px;
  line-height: 0.406;
  color: #000000;
}
.yoann .bonus-yoann-1 {
  border-radius: 10px;
  background: url('../assets/images/bonus_yoann_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 69px;
  right: 129px;
  width: 408px;
  height: 436px;
}
.yoann .sec-bonus {
  background: #F5F5F5;
  position: absolute;
  left: -15px;
  bottom: 503px;
  display: flex;
  padding: 44px 92px 37px 96px;
  height: 614px;
  box-sizing: border-box;
}
.yoann .lorem-ipsum-dolor-sit-amet-consectetur {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann .container-29 {
  background: #000000;
  position: relative;
  display: flex;
  padding: 418px 12px 64px 0;
  width: 1454px;
  height: fit-content;
  box-sizing: border-box;
}
.yoann .smmam-02-blanc-transparent-1 {
  background: url('../assets/images/smmam_02_blanc_transparent_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 449px;
  top: 0px;
  width: 544px;
  height: 384px;
}
.yoann .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur {
  position: absolute;
  left: 271.6px;
  bottom: 143px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoann .footer {
  position: absolute;
  right: -14px;
  bottom: 0px;
  display: flex;
  padding-top: 58px;
  width: 1454px;
  height: 571px;
  box-sizing: border-box;
}
.yoann {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
