.yoan-optin-2 .rectangle-27 {
  opacity: 0.2;
  background: url('../assets/images/rectangle_27.jpeg') 50% / cover no-repeat;
  width: 270px;
  height: 439px;
}
.yoan-optin-2 .rectangle-28 {
  background: url('../assets/images/rectangle_28.jpeg') 50% / cover no-repeat;
  width: 270px;
  height: 439px;
}
.yoan-optin-2 .rectangle-29 {
  opacity: 0.2;
  background: url('../assets/images/rectangle_29.jpeg') 50% / cover no-repeat;
  width: 270px;
  height: 439px;
}
.yoan-optin-2 .container-14 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  column-gap: 52px;
  width: 914px;
  box-sizing: border-box;
}
.yoan-optin-2 .rectangle-31 {
  opacity: 0.2;
  background: url('../assets/images/rectangle_31.jpeg') 50% / cover no-repeat;
  width: 270px;
  height: 439px;
}
.yoan-optin-2 .rectangle-32 {
  opacity: 0.2;
  background: url('../assets/images/rectangle_32.jpeg') 50% / cover no-repeat;
  width: 270px;
  height: 439px;
}
.yoan-optin-2 .rectangle-33 {
  opacity: 0.2;
  background: url('../assets/images/rectangle_33.jpeg') 50% / cover no-repeat;
  width: 270px;
  height: 439px;
}
.yoan-optin-2 .container-33 {
  display: flex;
  flex-direction: row;
  column-gap: 52px;
  width: 914px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-43 {
  background: #000000;
  position: absolute;
  right: -3px;
  bottom: 1517px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 83px;
  width: 1443px;
  height: 1313px;
  box-sizing: border-box;
}
.yoan-optin-2 .v-0131 {
  background: url('../assets/images/v_0131.png') 50% / cover no-repeat;
  width: 418px;
  height: 210px;
}
.yoan-optin-2 .container-40 {
  background: url('../assets/images/rectangle_24.png');
  position: absolute;
  right: -14px;
  bottom: 2830px;
  display: flex;
  padding: 185px 703px 185px 0;
  width: 1453px;
  height: 580px;
  box-sizing: border-box;
}
.yoan-optin-2 .rectangle-5 {
  background: url('../assets/images/rectangle_5.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1440px;
  height: 938px;
}
.yoan-optin-2 .rectangle-1 {
  background: #0D83F2;
  position: absolute;
  left: 50%;
  top: 466px;
  translate: -50% 0;
  width: 1440px;
  height: 313px;
}
.yoan-optin-2 .smma-4 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 333px;
  line-height: 0.165;
  color: #FFFFFF;
}
.yoan-optin-2 .container-28 {
  background: #FDFCFC;
  position: relative;
  display: flex;
  padding: 588px 138.2px 295px 0;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .movement {
  position: absolute;
  right: 0px;
  bottom: 295px;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 333px;
  line-height: 0.165;
  color: #FFFFFF;
}
.yoan-optin-2 .movement-1 {
  position: absolute;
  left: 0px;
  bottom: 295px;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 333px;
  line-height: 0.165;
  color: #FFFFFF;
}
.yoan-optin-2 .rectangle-4 {
  border-radius: 9px;
  background: #046DCF;
  position: absolute;
  left: 143px;
  top: 545px;
  width: 426px;
  height: 89px;
}
.yoan-optin-2 .rejoindre-le-mouvement-3 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 29px;
  line-height: 1.207;
  color: #FFFFFF;
}
.yoan-optin-2 .container-7 {
  background: url('../assets/images/dsc_10121.png') 50% / cover no-repeat;
  position: absolute;
  right: 468.2px;
  bottom: 20px;
  display: flex;
  padding: 0 4px 27px 0;
  width: 720px;
  height: 634px;
  box-sizing: border-box;
}
.yoan-optin-2 .smmam-0111 {
  background: linear-gradient(#0D83F2, #0D83F2), url('../assets/images/smmam_011.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 674.2px;
  width: 312px;
  height: 220px;
}
.yoan-optin-2 .lance-toi-dans-le-marketing-digital-et-obtiens-un-flux-de-clients-constant-pour-gnrer-20-kmois {
  position: absolute;
  top: 201px;
  right: 414.2px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
  color: #2B2B2B;
}
.yoan-optin-2 .le-programme-le-plus-abouti-dans-le-digital {
  position: absolute;
  top: 354px;
  right: 348.9px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 29px;
  letter-spacing: 5.8px;
  line-height: 1.207;
  color: #2B2B2B;
}
.yoan-optin-2 .smmam-011 {
  background: url('../assets/images/smmam_011.png') 50% / cover no-repeat;
  position: absolute;
  top: 41px;
  right: 680.2px;
  width: 296px;
  height: 208px;
}
.yoan-optin-2 .header {
  position: relative;
  display: flex;
  padding: 92px 112.2px 0 112.2px;
  width: 1803.2px;
  box-sizing: border-box;
}
.yoan-optin-2 .partenaires {
  opacity: 0.08;
  border: 1px solid #FFFFFF;
  position: relative;
  overflow-wrap: break-word;
}
.yoan-optin-2 .ellipse-257 {
  border-radius: 9px;
  background: #FFFFFF;
  width: 18px;
  height: 18px;
}
.yoan-optin-2 .ellipse-258 {
  border-radius: 9px;
  background: #FFFFFF;
  width: 18px;
  height: 18px;
}
.yoan-optin-2 .ellipse-259 {
  border-radius: 9px;
  background: #FFFFFF;
  width: 18px;
  height: 18px;
}
.yoan-optin-2 .group-9552 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 102px;
  box-sizing: border-box;
}
.yoan-optin-2 .porctime {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 40px;
  line-height: 0.7;
  color: #FFFFFF;
}
.porctime {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.333;
  color: #FFFFFF;
}
.yoan-optin-2 .group-9553 {
  position: absolute;
  left: 100.1px;
  bottom: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoan-optin-2 .tre-king {
  position: absolute;
  left: 428px;
  bottom: 123px;
  overflow-wrap: break-word;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 40px;
  line-height: 0.7;
  color: #FFFFFF;
}
.yoan-optin-2 .hdk {
  position: absolute;
  right: 662.2px;
  bottom: 109px;
  overflow-wrap: break-word;
  font-family: 'Vampiro One';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.167;
  color: #046DCF;
}
.yoan-optin-2 .laces {
  position: absolute;
  right: 384.4px;
  bottom: 109px;
  overflow-wrap: break-word;
  font-family: 'Vampiro One';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.167;
  color: #FFFFFF;
}
.yoan-optin-2 .kraken {
  position: absolute;
  right: 97.3px;
  bottom: 123px;
  overflow-wrap: break-word;
  font-family: 'Anton';
  font-weight: 400;
  font-size: 48px;
  line-height: 0.583;
  color: #FFFFFF;
}
.yoan-optin-2 .partenaires-1 {
  background: #0F0F0F;
  position: relative;
  margin: 0 104.2px;
  display: flex;
  padding: 130px 85.5px 109px 72.5px;
  box-sizing: border-box;
}
.yoan-optin-2 .les-avantages-de-la-formation {
  margin: 0 0 13px 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #FFFFFF;
}
.yoan-optin-2 .le-programme-pour-cr-er-et-propulser-ton-agence-smma-combin-la-plus-grande-communaut-francophone {
  margin: 0 0 42px 9px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 26px;
  line-height: 1.385;
  text-transform: lowercase;
  color: #FFFFFF;
}
.yoan-optin-2 .resultats-1 {
  background: url('../assets/images/resultats_1.png') 50% / cover no-repeat;
  width: 42px;
  height: 42px;
}
.yoan-optin-2 .container-3 {
  border-radius: 36px;
  background: #1079DB;
  position: relative;
  margin: 0 1px 46px 0;
  display: flex;
  padding: 13px 15px 17px 15px;
  width: 72px;
  height: 72px;
  box-sizing: border-box;
}
.yoan-optin-2 .smma-movement-cest-un-vritable-plan-daction-destin-votre-russite-en-lespace-de-30-jours-chacun-des-modules-at-spcialement-conu-afin-que-vous-ayez-des-rsultats-rapides-vous-navez-qu-dupliquer-tous-nos-conseils-et-processus-dans-la-formation-pour-des-rsultats-concrets-directement {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  line-height: 1.727;
  text-transform: lowercase;
  color: #2B2B2B;
}
.yoan-optin-2 .container-22 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoan-optin-2 .programme-100-rsultats {
  position: absolute;
  left: 50%;
  top: 94px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 13px;
  line-height: 2.769;
  text-transform: uppercase;
  color: #0D83F2;
}
.yoan-optin-2 .container-19 {
  background: #FEFEFE;
  position: relative;
  margin: 62px 0 26px 0;
  display: flex;
  padding: 11px 22.7px 25px 21.7px;
  box-sizing: border-box;
}
.yoan-optin-2 .groupe-11 {
  background: url('../assets/images/groupe_11.png') 50% / cover no-repeat;
  width: 66px;
  height: 66px;
}
.yoan-optin-2 .container-4 {
  border-radius: 48px;
  background: #1079DB;
  position: relative;
  margin: 0 0.2px 10px 0;
  display: flex;
  padding: 15px;
  width: 96px;
  height: 96px;
  box-sizing: border-box;
}
.yoan-optin-2 .communaut-active-et-engag-e {
  margin-right: 0.2px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 17px;
  line-height: 2.118;
  text-transform: uppercase;
  color: #0D83F2;
}
.yoan-optin-2 .smma-movement-dtient-la-communaut-la-plus-qualitative-avec-des-ceo-dagence-qualifis-qui-ont-dj-des-rsultats-concrets-et-tangibles-sur-leur-agence-vous-aurez-accs-une-source-infinie-dinformations-avec-les-personnes-qui-comme-vous-ont-dbut-et-qui-ont-dj-gnr-des-centaines-de-milliers-deuros-en-smma-nous-serons-lpour-rpondre-100-de-vos-questions {
  margin-left: 0.8px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.571;
  text-transform: lowercase;
  color: #2B2B2B;
}
.yoan-optin-2 .container-32 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 21.3px 22px 19.5px;
  box-sizing: border-box;
}
.yoan-optin-2 .reglage-1 {
  background: url('../assets/images/reglage_1.png') 50% / cover no-repeat;
  width: 46px;
  height: 46px;
}
.yoan-optin-2 .container-1 {
  border-radius: 36px;
  background: #1079DB;
  position: relative;
  margin: 0 1px 44px 0;
  display: flex;
  padding: 13px 12px 13px 14px;
  width: 72px;
  height: 72px;
  box-sizing: border-box;
}
.yoan-optin-2 .le-programme-smma-movement-est-le-seul-program-qui-est-mis-jour-en-continu-vous-bnficiez-des-dernires-avances-et-meilleures-stratgies-au-qutoidien-de-nouvelles-vidos-et-contenus-exclusifs-chaque-mois-seront-alors-votre-porte-par-les-meilleurs-intervenants-de-chaque-domaine-en-smma {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 11px;
  line-height: 1.727;
  text-transform: lowercase;
  color: #2B2B2B;
}
.yoan-optin-2 .container-45 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoan-optin-2 .mises-jour-mensuel {
  position: absolute;
  left: 50%;
  top: 94px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 13px;
  line-height: 2.769;
  text-transform: uppercase;
  color: #0D83F2;
}
.yoan-optin-2 .container-9 {
  background: #FEFEFE;
  position: relative;
  margin: 62px 0 26px 0;
  display: flex;
  padding: 13px 20.4px 25px 19.4px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-46 {
  margin-bottom: 43px;
  display: flex;
  flex-direction: row;
  column-gap: 21px;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .rejoindre-le-mouvement-4 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 29px;
  line-height: 1.207;
  color: #0D83F2;
}
.yoan-optin-2 .container-27 {
  border-radius: 9px;
  background: #FFFFFF;
  position: relative;
  margin-left: 20px;
  display: flex;
  padding: 27px 16px 27px 20px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-37 {
  margin-right: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoan-optin-2 .container-2 {
  margin: 0 6.8px 3px 6.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #FFFFFF;
}
.yoan-optin-2 .container-3 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #FFFFFF;
}
.yoan-optin-2 .container-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoan-optin-2 .rectangle-10 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 68px;
  height: 5px;
}
.yoan-optin-2 .group-9554 {
  position: relative;
  margin: 391px 0 20px 0;
  display: flex;
  padding: 0 1.5px 0 1.4px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-44 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .sec-3 {
  background: linear-gradient(107.44deg, #046DCF 8.9%, #268EF0 95.2%);
  position: relative;
  margin: 0 112.2px 135px 112.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 89px 24px 89px;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .yoann-mascaro-1 {
  margin-bottom: 54px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #000000;
}
.yoan-optin-2 .rectangle-11 {
  background: #0D83F2;
  margin-bottom: 42px;
  align-self: flex-start;
  width: 277px;
  height: 7px;
}
.yoan-optin-2 .en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement {
  margin-bottom: 25px;
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.263;
  text-transform: lowercase;
  color: #2B2B2B;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub6 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.en-1-mois-seulement-ma-vie-acompltement-chang-jai-refus-de-faire-partie-du-moule-comme-tout-le-monde-de-me-lever-tous-les-jours-pour-aller-dans-un-train-de-vie-qui-ne-me-convenait-pas-ds-mon-lancement-je-ralisais-10000-euros-pour-mon-agence-smma-en-1-mois-seulement-sub9 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.yoan-optin-2 .aujourdhui-jai-gnr-plus-dun-million-deuros-de-bnfices-voyag-dans-plus-de-40-pays-et-ai-eu-loccasion-de-travailler-avec-les-plus-grandes-entreprises-et-startups-du-monde-entier-jai-mis-aujourdhui-toutes-mes-connaissances-mthodes-techniques-dans-un-programme-entier-et-duplicable-qui-apermis-des-milliers-dentrepreneurs-de-changer-leur-vie-grce-au-smma {
  margin-bottom: 109px;
  align-self: flex-start;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.263;
  text-transform: lowercase;
  color: #2B2B2B;
}
.aujourdhui-jai-gnr-plus-dun-million-deuros-de-bnfices-voyag-dans-plus-de-40-pays-et-ai-eu-loccasion-de-travailler-avec-les-plus-grandes-entreprises-et-startups-du-monde-entier-jai-mis-aujourdhui-toutes-mes-connaissances-mthodes-techniques-dans-un-programme-entier-et-duplicable-qui-apermis-des-milliers-dentrepreneurs-de-changer-leur-vie-grce-au-smma-sub2 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 19px;
  line-height: 1.333;
  text-transform: lowercase;
}
.yoan-optin-2 .yoann-mascaro {
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Sigustil', 'Roboto Condensed';
  font-weight: 400;
  font-size: 31px;
  line-height: 1.806;
  color: #000000;
}
.yoan-optin-2 .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoan-optin-2 .seul-votre-passage-laction-est-le-dterminant-de-votre-russite {
  position: absolute;
  left: 0px;
  bottom: 23px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #0D83F2;
}
.yoan-optin-2 .votre-mentor {
  position: absolute;
  left: 0px;
  top: 46px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
}
.yoan-optin-2 .container-39 {
  position: relative;
  margin: 5px 168.3px 0 0;
  display: flex;
  box-sizing: border-box;
}
.yoan-optin-2 .rectangle-12 {
  background: #EFEFEF;
  margin-bottom: 15px;
  width: 479px;
  height: 731px;
}
.yoan-optin-2 .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.yoan-optin-2 .yoann {
  position: absolute;
  right: 84.4px;
  bottom: 206px;
  overflow-wrap: break-word;
  font-family: 'Six Caps';
  font-weight: 400;
  font-size: 491px;
  letter-spacing: -14.7px;
  line-height: 0.114;
  color: #046DCF;
}
.yoan-optin-2 .mascaro {
  border: 0.5px solid #000000;
  transform: rotate(-31.946deg);
  position: absolute;
  right: 75.3px;
  bottom: 88px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Sigustil', 'Roboto Condensed';
  font-weight: 400;
  font-size: 140px;
  line-height: 0.4;
  color: #000000;
}
.yoan-optin-2 .millions {
  position: absolute;
  left: 360px;
  bottom: 186px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  line-height: 0.813;
  color: #0D83F2;
}
.yoan-optin-2 .container-36 {
  position: relative;
  margin: 0 0 111px 135.8px;
  display: flex;
  align-self: center;
  box-sizing: border-box;
}
.yoan-optin-2 .container {
  margin-right: 19.5px;
  width: 926.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  line-height: 0.813;
  color: #0D83F2;
}
.yoan-optin-2 .x {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
  line-height: 0.813;
  color: #0D83F2;
}
.yoan-optin-2 .container-21 {
  margin: 0 89px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1029.9px;
  box-sizing: border-box;
}
.yoan-optin-2 .entrepreneurs-accompagn-s {
  margin: 0 29px 29px 0;
  display: inline-block;
  width: 362.3px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.45;
  color: #FFFFFF;
}
.yoan-optin-2 .deuros-gnrspar-nos-membres {
  margin-bottom: 29px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.45;
  color: #FFFFFF;
}
.yoan-optin-2 .plus-de-rsultats-que-toutes-formations-smma-confondues {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.45;
  color: #FFFFFF;
}
.yoan-optin-2 .container-17 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1160.4px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-26 {
  background: #000000;
  position: relative;
  margin: 0 112.2px 699px 112.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 137.3px 30px 142.3px;
  width: 1440px;
  box-sizing: border-box;
}
.yoan-optin-2 .module-1 {
  margin: 0 75.8px 13px 75.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 105px;
  line-height: 0.533;
  color: #FFFFFF;
}
.yoan-optin-2 .les-dbuts-de-votre-succ-s {
  margin: 0 26.3px 12px 0.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 34px;
  line-height: 1.647;
  color: #000000;
}
.yoan-optin-2 .ellipse-263 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 6px 4px 36px 0;
  width: 16px;
  height: 16px;
}
.yoan-optin-2 .intgration-individualis-lcosystme-smma-movement {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.318;
  color: #FFFFFF;
}
.yoan-optin-2 .container-13 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .ellipse-264 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 6px 4px 36px 0;
  width: 16px;
  height: 16px;
}
.yoan-optin-2 .implmentation-direct-avec-votre-coach-certifi-du-programme {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.318;
  color: #FFFFFF;
}
.yoan-optin-2 .container-38 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .ellipse-265 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 6px 4px 36px 0;
  width: 16px;
  height: 16px;
}
.yoan-optin-2 .les-notions-de-base-votre-russite-conditionnement-au-succs {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.318;
  color: #FFFFFF;
}
.yoan-optin-2 .container-24 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .container-29 {
  margin-right: 79.1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoan-optin-2 .rectangle-16 {
  background: #F8F8F8;
  position: relative;
  margin: 47px 0 4px 0;
  width: 370px;
  height: 223px;
}
.yoan-optin-2 .container-42 {
  margin: 0 82.7px 4px 82.7px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .rectangle-18 {
  background: #0F0F0F;
  width: 19px;
  height: 3px;
}
.yoan-optin-2 .rectangle-19 {
  background: #E6E6E6;
  width: 19px;
  height: 3px;
}
.yoan-optin-2 .rectangle-20 {
  background: #E6E6E6;
  width: 19px;
  height: 3px;
}
.yoan-optin-2 .rectangle-21 {
  background: #E6E6E6;
  width: 19px;
  height: 3px;
}
.yoan-optin-2 .container-34 {
  margin: 0 0 9px 208px;
  display: flex;
  flex-direction: row;
  align-self: center;
  column-gap: 3px;
  width: 85px;
  box-sizing: border-box;
}
.yoan-optin-2 .ellipse-266 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 6px 4px 7px 0;
  width: 16px;
  height: 16px;
}
.yoan-optin-2 .business-model {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.318;
  color: #FFFFFF;
}
.yoan-optin-2 .container-16 {
  margin: 0 82.7px 171px 82.7px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .smma-movement {
  border: 1px solid #FFFFFF;
  overflow-wrap: break-word;
}
.yoan-optin-2 .container-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoan-optin-2 .book-module-11 {
  background: url('../assets/images/book_module_11.png') 50% / cover no-repeat;
  position: absolute;
  top: 228px;
  right: 338px;
  width: 262px;
  height: 372px;
}
.yoan-optin-2 .container-31 {
  background: #0D83F2;
  position: relative;
  margin: 0 112.2px 278px 112.2px;
  display: flex;
  padding: 255px 91.3px 20px 82.3px;
  box-sizing: border-box;
}
.yoan-optin-2 .libert-gographique-temporelle-et-financire-cest-le-moment-de-changer-de-vie-la-rvolution-du-smma-20-atout-chang-il-est-dsormais-possible-de-travailler-quand-vous-voulez-ovous-voulez-et-selon-vos-propres-termes-sans-plus-jamais-avoir-vous-soucier-de-vos-dpenses-de-la-cration-de-votre-agence-jusqu-lobtention-de-vos-premiers-clients-nous-vous-accompagnons-de-az {
  margin: 0 0 25px 134.8px;
  display: inline-block;
  align-self: center;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.591;
  color: #000000;
}
.yoan-optin-2 .rejoindre-le-mouvement-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 29px;
  line-height: 1.207;
  color: #FFFFFF;
}
.yoan-optin-2 .container-23 {
  border-radius: 9px;
  background: #046DCF;
  position: relative;
  margin: 0 0 66px 138.8px;
  display: flex;
  align-self: center;
  padding: 27px 16px 27px 20px;
  box-sizing: border-box;
}
.yoan-optin-2 .rectangle-23 {
  background: #EFEFEF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1442px;
  height: 580px;
}
.yoan-optin-2 .smmam-021 {
  background: url('../assets/images/smmam_021.png') 50% / cover no-repeat;
  margin-left: 1px;
  width: 388px;
  height: 62px;
}
.yoan-optin-2 .programme-de-la-formation-2 {
  margin: 0 2px 25px 1.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.094;
  color: #0D83F2;
}
.yoan-optin-2 .le-programme-pour-creer-et-propulser-ton-agence-smma-combine-ala-plus-grande-communaut-francophone {
  margin-bottom: 27px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 21px;
  line-height: 1.81;
  text-transform: lowercase;
  color: #000000;
}
.yoan-optin-2 .vector-1 {
  background: rgba(121, 121, 121, 0.2);
  margin: 0 5.2px 21px 5.7px;
  width: 497.5px;
  height: 1px;
}
.yoan-optin-2 .heures-de-formation-30-modules-lives-3-coachings-semaine-15-outils-gnration-de-clientle-1000-personnes-engag-es-dans-le-programme-smma-movement {
  margin-bottom: 32px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 21px;
  line-height: 1.619;
  text-transform: lowercase;
  color: #000000;
}
.yoan-optin-2 .rejoindre-le-mouvement-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 29px;
  line-height: 1.207;
  color: #FFFFFF;
}
.yoan-optin-2 .container-2 {
  border-radius: 9px;
  background: #046DCF;
  position: relative;
  margin-left: 1px;
  display: flex;
  padding: 27px 18px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-9555 {
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.14);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px 25.3px 21px 25.3px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-6 {
  position: relative;
  margin: 0 109.2px 1199px 109.2px;
  display: flex;
  padding: 44px 0 0 571px;
  width: 1442px;
  box-sizing: border-box;
}
.yoan-optin-2 .line-23 {
  background: #000000;
  margin: 10px 12px 14px 0;
  width: 56px;
  height: 2px;
}
.yoan-optin-2 .faq {
  overflow-wrap: break-word;
  font-family: var(--title-font-family, 'Urbanist');
  font-weight: var(--title-font-weight, 700);
  font-size: var(--title-font-size, 18px);
  line-height: var(--title-line-height, 1.444);
  color: #FFFFFF;
}
.yoan-optin-2 .group-13739 {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .questions-rponses {
  margin-bottom: 44px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #FFFFFF;
}
.yoan-optin-2 .combien-je-peux-esprer-gagner-avec-le-smma {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.417;
  color: #000000;
}
.yoan-optin-2 .smma-movement-est-un-acclrateur-de-croissance-noslves-gnrent-principalement-leurs-premiers-clients-sous-30-jours-il-reste-tout-fait-possible-selon-votre-motivation-et-votre-passage-laction-de-faire-comme-certains-de-noslves-qui-ont-dj-dpass-la-barre-des-10000-euros-en-1-mois {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.647;
  color: #FFFFFF;
}
.yoan-optin-2 .frame-13760 {
  margin-right: 71.5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.yoan-optin-2 .vector {
  width: 16px;
  height: 2px;
}
.yoan-optin-2 .icons-dashboard-20-minus {
  display: flex;
  width: 16px;
  height: 2px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-13748 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  margin-bottom: 90px;
  display: flex;
  padding: 19px 12px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-13761 {
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .line-24 {
  background: #EBEFFF;
  margin-bottom: 32px;
  width: 1000px;
  height: 1px;
}
.yoan-optin-2 .combien-de-temps-ai-je-accs-la-formation {
  margin: 0 17px 6px 0;
  display: inline-block;
  width: 943px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.417;
  color: #FFFFFF;
}
.yoan-optin-2 .vector-1 {
  transform: rotate(-45deg);
  width: 17px;
  height: 17px;
}
.yoan-optin-2 .icons-dashboard-20-plus {
  display: flex;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-13749 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  display: flex;
  padding: 11.5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-13762 {
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  box-sizing: border-box;
}
.yoan-optin-2 .line-25 {
  background: #EBEFFF;
  margin-bottom: 32px;
  width: 1000px;
  height: 1px;
}
.yoan-optin-2 .quel-budget-jai-besoin-pour-lancer-mon-agence {
  margin: 0 17px 6px 0;
  display: inline-block;
  width: 943px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.417;
  color: #FFFFFF;
}
.yoan-optin-2 .vector-2 {
  transform: rotate(-45deg);
  width: 17px;
  height: 17px;
}
.yoan-optin-2 .icons-dashboard-20-plus-1 {
  display: flex;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-13754 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  display: flex;
  padding: 11.5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-13763 {
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  box-sizing: border-box;
}
.yoan-optin-2 .line-26 {
  background: #EBEFFF;
  margin-bottom: 32px;
  width: 1000px;
  height: 1px;
}
.yoan-optin-2 .combien-de-temps-pour-avoir-son-1-er-client {
  margin: 0 17px 6px 0;
  display: inline-block;
  width: 943px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.417;
  color: #FFFFFF;
}
.yoan-optin-2 .vector-3 {
  transform: rotate(-45deg);
  width: 17px;
  height: 17px;
}
.yoan-optin-2 .icons-dashboard-20-plus-2 {
  display: flex;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-13753 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  display: flex;
  padding: 11.5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-13764 {
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  box-sizing: border-box;
}
.yoan-optin-2 .line-27 {
  background: #EBEFFF;
  margin-bottom: 32px;
  width: 1000px;
  height: 1px;
}
.yoan-optin-2 .est-ce-que-je-suis-accompagn {
  margin: 0 17px 6px 0;
  display: inline-block;
  width: 943px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.417;
  color: #FFFFFF;
}
.yoan-optin-2 .vector-4 {
  transform: rotate(-45deg);
  width: 17px;
  height: 17px;
}
.yoan-optin-2 .icons-dashboard-20-plus-3 {
  display: flex;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-13755 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  display: flex;
  padding: 11.5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-13765 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-13766 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .questions {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .line-271 {
  background: #EBEFFF;
  margin-bottom: 8px;
  width: 1000px;
  height: 1px;
}
.yoan-optin-2 .puis-je-allier-la-cration-de-mon-agence-avec-mon-travail-actuel-ou-mestudes {
  margin-right: 34px;
  width: 926px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.417;
  color: #FFFFFF;
}
.yoan-optin-2 .vector-5 {
  transform: rotate(-45deg);
  width: 17px;
  height: 17px;
}
.yoan-optin-2 .icons-dashboard-20-plus-4 {
  display: flex;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-137551 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  margin-bottom: 28px;
  display: flex;
  padding: 11.5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-137651 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  box-sizing: border-box;
}
.yoan-optin-2 .line-28 {
  background: #EBEFFF;
  margin-bottom: 9px;
  width: 1000px;
  height: 1px;
}
.yoan-optin-2 .abordez-vous-aussi-les-aspects-juridiques-et-fiscaux {
  margin: 0 17px 6px 0;
  display: inline-block;
  width: 943px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.417;
  color: #FFFFFF;
}
.yoan-optin-2 .vector-6 {
  transform: rotate(-45deg);
  width: 17px;
  height: 17px;
}
.yoan-optin-2 .icons-dashboard-20-plus-5 {
  display: flex;
  width: 17px;
  height: 17px;
  box-sizing: border-box;
}
.yoan-optin-2 .group-137552 {
  border-radius: 4px;
  background: #000000;
  position: relative;
  display: flex;
  padding: 11.5px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.yoan-optin-2 .frame-137661 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-8 {
  background: #046DCF;
  position: relative;
  margin: 0 112.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 81px 0 57px 0;
  width: 1440px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-25 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1803.2px;
  height: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .programme-de-la-formation-1 {
  position: absolute;
  left: -13.9px;
  top: 4055px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 93px;
  line-height: 0.602;
  color: rgba(20, 20, 20, 0.1);
}
.yoan-optin-2 .programme-de-la-formation {
  position: absolute;
  left: 50%;
  top: 4056px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  line-height: 1.244;
  color: #FFFFFF;
}
.yoan-optin-2 .yoan-31 {
  background: url('../assets/images/yoan_31.png') 50% / cover no-repeat;
  position: absolute;
  top: 2102px;
  right: 217px;
  width: 450px;
  height: 824px;
}
.yoan-optin-2 .smma {
  border: 0.5px solid #B5B5B5;
  margin-bottom: 79px;
  display: inline-block;
  overflow-wrap: break-word;
}
.yoan-optin-2 .smma-1 {
  border: 0.5px solid #0D83F2;
  overflow-wrap: break-word;
}
.yoan-optin-2 .container-18 {
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.yoan-optin-2 .ces-rsultats-peuvent-aussi-tre-les-votres {
  margin: 20px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.12;
  color: #0D83F2;
}
.yoan-optin-2 .container-35 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .smma-2 {
  border: 0.5px solid #B5B5B5;
  margin: 51px 65px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
}
.yoan-optin-2 .avec-smma-movement-vous-ferez-partie-duncosystme-qui-vous-tirera-vers-la-russite {
  margin-bottom: 4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  line-height: 1.308;
  color: #000000;
}
.avec-smma-movement-vous-ferez-partie-duncosystme-qui-vous-tirera-vers-la-russite-sub2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.333;
}
.yoan-optin-2 .container-10 {
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .smma-3 {
  border: 0.5px solid #B5B5B5;
  margin: 42px 61px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
}
.yoan-optin-2 .rejoindre-le-mouvement {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 29px;
  line-height: 1.207;
  color: #FFFFFF;
}
.yoan-optin-2 .container-30 {
  border-radius: 9px;
  background: #046DCF;
  position: relative;
  margin-bottom: 9px;
  display: flex;
  padding: 27px 16px 27px 20px;
  box-sizing: border-box;
}
.yoan-optin-2 .container-15 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.yoan-optin-2 .container-41 {
  background: #EFEFEF;
  position: absolute;
  left: 0px;
  top: 3250px;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding: 132px 0 97px 106px;
  box-sizing: border-box;
}
.yoan-optin-2 .phone-long-scroll-mockup-v-011 {
  background: url('../assets/images/phone_long_scroll_mockup_v_011.png') 50% / cover no-repeat;
  position: absolute;
  left: 91px;
  top: 3391px;
  width: 528px;
  height: 666px;
}
.yoan-optin-2 .container-1 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  transform: rotate(8.216deg);
  position: absolute;
  left: 355px;
  top: 3326px;
  width: 284.2px;
  height: 424.3px;
}
.yoan-optin-2 .rectangle-17 {
  background: #F8F8F8;
  position: absolute;
  top: 4321px;
  right: -94px;
  width: 370px;
  height: 223px;
}
.yoan-optin-2 .book-free-your-mind-1 {
  background: url('../assets/images/book_free_your_mind_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 4177px;
  right: -0.3px;
  width: 261.3px;
  height: 372.7px;
}
.yoan-optin-2 .ce-qu-ils-disent-de-nous-1 {
  position: absolute;
  left: -112.8px;
  bottom: 2560px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 93px;
  line-height: 0.602;
  color: rgba(255, 255, 255, 0.1);
}
.yoan-optin-2 .ce-qu-ils-disent-de-nous-2 {
  position: absolute;
  right: -905.8px;
  bottom: 2560px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 93px;
  line-height: 0.602;
  color: rgba(255, 255, 255, 0.1);
}
.yoan-optin-2 .ce-qu-ils-disent-de-nous {
  position: absolute;
  left: 86.3px;
  bottom: 2556px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  line-height: 1.244;
  color: #FFFFFF;
}
.yoan-optin-2 .lorem-ipsum-dolor-sit-amet-consectetur {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoan-optin-2 .container {
  background: #000000;
  position: absolute;
  right: -14px;
  bottom: 0px;
  display: flex;
  padding: 389px 14px 93px 0;
  width: 1454px;
  height: 513px;
  box-sizing: border-box;
}
.yoan-optin-2 .mockup-global-21 {
  background: url('../assets/images/mockup_global_21.png') 50% / cover no-repeat;
  position: absolute;
  left: 246px;
  bottom: 3785px;
  width: 876px;
  height: 350px;
}
.yoan-optin-2 .smmam-02-blanc-transparent-1 {
  background: url('../assets/images/smmam_02_blanc_transparent_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 201px;
  translate: -50% 0;
  width: 544px;
  height: 384px;
}
.yoan-optin-2 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur {
  position: absolute;
  left: 50%;
  bottom: 172px;
  translate: -50% 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.938;
  color: #FFFFFF;
}
.yoan-optin-2 {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 511px;
  width: 1440px;
  box-sizing: border-box;
}
